---
// Pagina de about 

import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Descripcion from "../components/Descripcion.astro";
import DescripcionInversa from "../components/DescripciónInversa.astro";
import CardAbout from "../components/CardAbout.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="About us">
    <Header />
    <!-- Importo los componentes Descripcion y DescripcionInversa que tienen la misma distribución pero cambiados de orden -->
    <section class=" h-auto w-full"> 
        <Descripcion 
        titulo="¿QUIENES SOMOS?",
        descripcion={`
            Astroburger nace como un proyecto revolucionario que redefine la experiencia del usuario, 
            brindándoles un trato excepcional. Somos una marca de hamburguesas que desafía lo convencional, 
            desde la selección cuidadosa de ingredientes de alta calidad hasta el diseño futurista de nuestros 
            locales, todo con el objetivo de proporcionar una experiencia única. Incorporamos innovación con 
            tecnología de personalización en pedidos y nos comprometemos con prácticas sostenibles. 
            Astroburger no es simplemente una hamburguesa, es una vivencia cósmica en cada bocado. `},
        imagen="assets/logo.png"/>

    </section>
    <section class="h-auto w-full">
        <DescripcionInversa 
        title="EL OBJETIVO",
        descripcion={`Fundada con la visión audaz de reinventar la experiencia gastronómica, hemos pasado de ser una pequeña hamburguesería 
        a convertirnos en un destino reconocido por la calidad, la innovación y la atención excepcional al cliente.A lo largo de los años, 
        hemos expandido nuestras operaciones, pero nuestra misión sigue siendo la misma: proporcionar una vivencia cósmica en cada bocado. 
        Además, nos enorgullece contribuir a un mundo más sostenible, adoptando prácticas que respetan nuestro entorno y apoyan a nuestras comunidades.
           `},
        imagen="assets/photos/hamburguesas/burger5.png"/>
    </section>
    <section class="h-auto w-full mt-32 m-auto" id="cards">
        <h3 class="text-xsh-auto w-auto mb-20 flex justify-center text-2xl sm:text-3xl" >¿POR QUÉ ASTROBURGERS?</h3>
        <div  class=" rounded-xl  w-full h-full grid grid-cols-1 m-auto sm:grid-cols-2 sm:m-0  md:grid-cols-3 xl:grid-cols-4">
            <!-- Importo las cards con sus atributos -->
            <CardAbout
            logo="assets/icons/alarm.svg"
            alt="logo reloj"
            titulo="Entrega Rápida"
            descripcion="Ofrecemos entrega rápida para que puedas disfrutar de nuestras deliciosas hamburguesas en poco tiempo."
            />

            <CardAbout
            logo="assets/icons/award.svg"
            alt="logo award"
            titulo="Calidad Premiada"
            descripcion="Nuestras hamburguesas han sido premiadas por su calidad excepcional y sabores deliciosos."
            />

            <CardAbout
            logo="public/assets/icons/casa.svg"
            alt="logo casa"
            titulo="Ambiente Acogedor"
            descripcion="Te invitamos a nuestro restaurante con un ambiente acogedor y familiar para que te sientas como en casa."
            />

            <CardAbout
            logo="assets/icons/wallet.svg"
            alt="logo cartera"
            titulo="Precios Asequibles"
            descripcion="Disfruta de nuestras deliciosas hamburguesas a precios asequibles que se ajustan a tu bolsillo."
            />
        </div>
    </section>
    <Footer />
</Layout>

<style>
    @font-face {
        font-family: 'merienda';
        src: url('assets/fonts/Merienda-SemiBold.ttf') format('opentype');
    }
    
    h1,h2,h3 {
        font-family: 'merienda', system-ui, sans-serif;
        color: #fff; 
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: -2px;
        text-align: center;

    }
    li:hover {
        cursor: pointer;
        color: rgb(225, 204, 204);
    }

    li {
        color: #fff; /* Texto blanco */
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        width: auto;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;

    }
    
  

    @media screen and (min-width: 1280px) {
        #cards {
            max-width:  70rem;
        }
      
    }

    @media screen and (min-width: 1536px) {
        #cards {
            max-width: 75rem;
        }
      
    }
 

    

   
</style>