---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Descripcion from "../components/Descripcion.astro";
import DescripcionInversa from "../components/DescripciónInversa.astro";
import CardAbout from "../components/CardAbout.astro";
import Footer from "../components/Footer.astro";
import Boton from "../components/Boton.astro";
---
<Layout title="About us">
    <Header />
    <section class=" h-auto w-full">
        <Descripcion 
        titulo="¿QUIENES SOMOS?",
        descripcion={`
            Astroburger nace como un proyecto revolucionario que redefine la experiencia del usuario, 
            brindándoles un trato excepcional. Somos una marca de hamburguesas que desafía lo convencional, 
            desde la selección cuidadosa de ingredientes de alta calidad hasta el diseño futurista de nuestros 
            locales, todo con el objetivo de proporcionar una experiencia única. Incorporamos innovación con 
            tecnología de personalización en pedidos y nos comprometemos con prácticas sostenibles. 
            Astroburger no es simplemente una hamburguesa, es una vivencia cósmica en cada bocado. `},
        imagen="assets/logo.png"/>

    </section>
    <section class="h-auto w-full">
        <DescripcionInversa 
        title="EL OBJETIVO",
        descripcion={`Fundada con la visión audaz de reinventar la experiencia gastronómica, hemos pasado de ser una pequeña hamburguesería 
        a convertirnos en un destino reconocido por la calidad, la innovación y la atención excepcional al cliente.A lo largo de los años, 
        hemos expandido nuestras operaciones, pero nuestra misión sigue siendo la misma: proporcionar una vivencia cósmica en cada bocado. 
        Además, nos enorgullece contribuir a un mundo más sostenible, adoptando prácticas que respetan nuestro entorno y apoyan a nuestras comunidades.
           `},
        imagen="assets/photos/hamburguesas/burger3.png"/>
    </section>
    <section class="h-auto w-full mt-32" id="equipo">
        <h3 class="text-4xl" >NUESTRO EQUIPO</h3>
        <div class=" rounded-xl w-4/5 m-auto mt-10 flex justify-around items-center gap-14 p-5">
            <CardAbout logo="assets/photos/equipo/chico1.jpeg" alt="logo" titulo="Jake Turner" descripcion={`
            CEO`} />
            <CardAbout logo="assets/photos/equipo/chica1.jpeg" alt="logo" titulo="Emily Davis " descripcion={`
            Customer Service Specialist`} />
            <CardAbout logo="assets/photos/equipo/chico2.jpeg" alt="logo" titulo="Alex Mitchell" descripcion={`
            Head Chef`} />    
            <CardAbout logo="assets/photos/equipo/chica2.jpeg" alt="logo" titulo="Olivia Brooks " descripcion={`
            Marketing Coordinator`} />
        </div>
    </section>
    <Footer />
</Layout>

<style>
    h3 {
        font-family: 'merienda', system-ui, sans-serif;
        color: #fff; /* Texto blanco */
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: -2px;
        text-align: center;
    }

  
</style>