---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Descripcion from "../components/Descripcion.astro";
import DescripcionInversa from "../components/DescripciónInversa.astro";
import CardAbout from "../components/CardAbout.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="About us">
    <Header />
    <section class=" h-auto w-full">
        <Descripcion 
        titulo="¿QUIENES SOMOS?",
        descripcion={`
            Astroburger nace como un proyecto revolucionario que redefine la experiencia del usuario, 
            brindándoles un trato excepcional. Somos una marca de hamburguesas que desafía lo convencional, 
            desde la selección cuidadosa de ingredientes de alta calidad hasta el diseño futurista de nuestros 
            locales, todo con el objetivo de proporcionar una experiencia única. Incorporamos innovación con 
            tecnología de personalización en pedidos y nos comprometemos con prácticas sostenibles. 
            Astroburger no es simplemente una hamburguesa, es una vivencia cósmica en cada bocado. `},
        imagen="assets/logo.png"/>
    </section>
    <section class="h-auto w-full">
        <DescripcionInversa 
        title="¿QUIENES SOMOS?",
        descripcion={`
            Astroburger nace como un proyecto revolucionario que redefine la experiencia del usuario, 
            brindándoles un trato excepcional. Somos una marca de hamburguesas que desafía lo convencional, 
            desde la selección cuidadosa de ingredientes de alta calidad hasta el diseño futurista de nuestros 
            locales, todo con el objetivo de proporcionar una experiencia única. Incorporamos innovación con 
            tecnología de personalización en pedidos y nos comprometemos con prácticas sostenibles. 
            Astroburger no es simplemente una hamburguesa, es una vivencia cósmica en cada bocado. `},
        imagen="assets/photos/hamburguesas/burger3.png"/>
    </section>
    <section class="h-auto w-full mt-32">
        <h3 class="text-4xl" >¿POR QUÉ ASTROBURGER?</h3>
        <div class=" rounded-xl w-3/4 m-auto mt-10 flex justify-around items-center gap-14 p-5">

            <CardAbout/>
            <CardAbout/>
            <CardAbout/>
            <CardAbout/>
        </div>
    </section>

    <Footer />
</Layout>

<style>
    h3 {
        font-family: 'merienda', system-ui, sans-serif;
        color: #fff; /* Texto blanco */
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: -2px;
        text-align: center;

    }

  
</style>