---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import FAQCard from "../components/FAQCard.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Preguntas frecuentes">
    <Header />
    <h1 class="flex justify-center items-center text-4xl mt-10">PREGUNTAS FRECUENTES</h1>
    <section class=" w-4/5 m-auto h-auto mt-20 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10 mx-auto">
        <FAQCard title="Alergias" respuesta="Si eres alérgico, por favor ponte en contacto con nuestro equipo. Te proporcionaremos información detallada sobre los ingredientes de nuestros productos." numero="1"/>
        <FAQCard title="Pedidos" respuesta="Para realizar un pedido, simplemente navega por nuestro menú, selecciona los productos que deseas y sigue los pasos para finalizar la compra."  numero="2"/>
        <FAQCard title="Opciones vegetarianas o veganas" respuesta="Sí, tenemos opciones vegetarianas y veganas en nuestro menú cómo nuestras hamburguesas Veggie Delight o Veggan Truffle."  numero="3"/>
        <FAQCard title="Opciones de entrega" respuesta="Ofrecemos servicios de entrega a domicilio y también puedes optar por recoger tu pedido en nuestro local. Elige la opción que mejor se adapte a tus necesidades."  numero="4"/>
        <FAQCard title="Modificaciones en mi pedido" respuesta="Si necesitas realizar cambios en tu pedido después de confirmarlo, te recomendamos que nos llames directamente o cancele el pedido y vuelva a hacerlo."  numero="5"/>
        <FAQCard title="Política de devoluciones" respuesta="Si tienes algún problema con tu pedido, comunícate con nuestro servicio al cliente para que podamos resolverlo de la mejor manera posible."  numero="6"/>
        <FAQCard title="Personalizar mi hamburguesa con ingredientes específicos" respuesta="Sí, ofrecemos opciones de personalización. Durante el proceso de pedido en línea, encontrarás la opción de agregar o eliminar ingredientes según tus preferencias."  numero="7"/>
        <FAQCard title="Cupones de descuento o promociones" respuesta="Mantente atento a nuestras redes sociales y suscríbete a nuestro boletín informativo para recibir actualizaciones sobre promociones y cupones."  numero="8"/>
        <FAQCard title="Eventos y catering" respuesta="No ofrecemos servicios de catering, sólamente vendemos nuestros productos en nuestro local o a domicilio."  numero="9"/>
    </section>
    <Footer />
</Layout>

<style>

    @font-face {
        font-family: 'merienda';
        src: url('assets/fonts/Merienda-SemiBold.ttf') format('opentype');
    }
    h1{
        font-family: 'merienda', system-ui, sans-serif;
        color: #fff; /* Texto blanco */
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: -2px;
        text-align: center;

    }
</style>