---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import FAQCard from "../components/FAQCard.astro";
---
<Layout title="Preguntas frecuentes">
    <Header />
    <section class="bg-white w-3/4 m-auto h-auto mt-10">
        <FAQCard title="Que hago si soy alergico" />
    </section>
</Layout>

<style>
    @font-face {
        font-family: 'merienda';
        src: url('assets/fonts/Merienda-SemiBold.ttf') format('opentype');
    }
</style>