---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---
<Layout title="Tu producto">
    <Header />
    <section class="bg-white h-[100vh] w-[70vw] m-auto flex justify-center ">
        <div class="bg-red-500 w-[50%] h-[50%] flex justify-center items-center text-justify flex-col">
            <h1></h1>
            <p class="p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aut natus dolore commodi, aspernatur dicta. Assumenda 
                temporibus ipsa quae, id et officiis provident ab aperiam, adipisci quia, molestias hic exercitationem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, nemo, veniam ratione quasi at repudiandae asperiores reprehenderit 
            molestiae praesentium aperiam nam debitis fuga eum a vitae odio dolore consequatur doloribus?</p>
            <button>AÑADIR</button>
        </div>
        <div class="bg-red-300 w-[50%] h-[50%]">
            <img class="max-w-full max-h-full" src="assets/photos/hamburguesas/burger3.png" alt="Burger">
        </div>
    </section>
    <Footer />
</Layout>

<style>


       
</style>