---
import CardVideo from "./CardVideo";
import Titulo from "./Titulo.astro";
import Footer from "./Footer.astro";
---


<section>
    <Titulo title="ASTROBURGER"  />
    <section class="w-full h-auto flex justify-center items-center flex-col mt-40">
        <h2 class="text-4xl text-white">NUESTROS PRODUCTOS</h2>
        <div class="mt-10 w-auto h-full grid grid-cols-2 gap-0">
            <a href="/productos" class="transform transform-origin-center 
            transition-transform duration-300 ease-in-out hover:scale-105
            hover:cursor-pointer"> 
                <CardVideo titulo="HAMBURGUESAS" urlFoto="assets/photos/hamburguesas/burger4.png"  alt="Foto Burger" />
            </a>
            <a href="/productos" class="transform transform-origin-center 
            transition-transform duration-300 ease-in-out hover:scale-105
            hover:cursor-pointer"> 
                <CardVideo titulo="COMPLEMENTOS" urlFoto="assets/photos/complementos/patatasbacon.png"  alt="Foto Patatas" />
            </a>
            <a href="/productos" class="transform transform-origin-center 
            transition-transform duration-300 ease-in-out hover:scale-105
            hover:cursor-pointer"> 
                <CardVideo titulo="POSTRES" urlFoto="assets/photos/postres/tartaquesonutella.png"  alt="Foto Tarta Queso" />
            </a>
            <a href="/productos" class="transform transform-origin-center 
            transition-transform duration-300 ease-in-out hover:scale-105
            hover:cursor-pointer"> 
                <CardVideo titulo="SHAKES" urlFoto="assets/photos/shakes/choco.png"  alt="Foto Shake" />
            </a>
        <div>
    </section>
</section>

<style>
    h2 {
        font-family: 'merienda', system-ui, sans-serif;
        text-shadow: 2px 2px 2px black;
    }
    a:hover {

    }
</style>
