---
interface Props {
    ruta:string;
    titulo:string;
}
const {ruta, titulo} = Astro.props;
---

<a href={ruta} class="border-r-2 h-auto w-auto bg-red-500 px-4 py-2 text-white hover:bg-zinc-200">{titulo}</a>


<style>
     a {
        border-radius: 10px;
        background: #f8f6f6;
        box-shadow: 0 0 7px #ffffff;
        letter-spacing: -1.5px;
        color: #292828;
        text-shadow: 0 0 0.3px black;
    }
</style>