---
interface Props {
    titulo: string;
    ruta?: string;
}
const {titulo, ruta} = Astro.props;
---

<a href={ruta} class="bg-red-500 w-20 h-12 flex justify-center items-center rounded-lg"><button class="
     h-full w-full rounded-lg">{titulo}</button></a>


<style>
    button {
        color: black;
        font-weight: bold;
    }
    button:hover {
        color:white;
    }
   
</style>