---
interface Props { //Hago una interfaz para definir atributos del componente
    title:string;
    imgProducto: string;
    section: string;
    id: any;
}

const {title, imgProducto,section,id} = Astro.props;
---
<div id="card" class="card w-[330px] h-[330px] overflow-hidden m-2" {id}>
    <figure class="h-[75%] relative">
        <img class="w-full h-full object-cover" src={imgProducto} alt={`Imagen de ${section}`}>
    </figure>
    <div class=" mt-3 flex justify-center items-center flex-col">
        <h3 class="text-2xl mb-1 text-center">{title}</h3>
    </div>
</div>

<style>

    @font-face {
        font-family: 'merienda-regular';
        src: url('assets/fonts/Merienda/static/Merienda-Black.ttf') format('opentype');
    }


    .card {
        border-radius: 10px;
        background: #f8f6f6;
        box-shadow: 0 0 7px #ffffff;
      
}
        #card{
            max-width: 100%;
            transition: transform 0.3s ease-in-out;
            font-family: 'merienda-regular';
        }
        h3 {
            letter-spacing: -1.5px;
            color: #292828;
            text-shadow: 0 0 0.3px black;
        }
        #card:hover {
            transform: scale(1.1); /* Puedes ajustar la escala según tus preferencias */
            cursor: pointer;
        }
        
</style>
