---
interface Props {
    title: string;
    respuesta: any;
    numero: string;
}
const {title,respuesta,numero} = Astro.props;
---
<div  class=" w-auto h-auto flex justify-center flex-col bg-white rounded-lg ">
    <div class="flex justify-start items-center">
        <div class="w-[25px] h-[25px] flex justify-center items-center p-5">
            <p class="text-2xl">{numero}.</p>
        </div>
        <div class=" h-auto w-auto">
            <h3 class="text-lg">{title}</h3>
        </div>
    </div>
    <div class=" w-full h-full p-3 m-auto">
        <p class="text-base text-justify">{respuesta}</p>
    </div>
</div>

<style>
    p {
        letter-spacing: -0.2px;
    }
    #card {
        font-family: 'merienda-regular';
        transition: transform 1s ease-out;
    }
   
   
</style>