---
interface Props {
    title: string;
    respuesta: string;
    numero: string;
}
const {title,respuesta,numero} = Astro.props;
---
<div class="bg-slate-500 w-96 h-52">
    <div class="">
        <h3>{title}</h3>
    </div>
</div>