---
---

<footer class="w-full h-16 flex justify-center items-center mt-20">
  <div class="h-full flex justify-center items-center space-x-5">
    <a href="posts/termsconditions" rel="noopener noreferrer" class="text-white">
      Terms and Conditions
    </a>
    <a href="posts/privacy" rel="noopener noreferrer" class="text-white">
      Privacy Policy    
    </a>
    <a href="posts/cookies" rel="noopener noreferrer" class="text-white">
      Cookies
    </a>
  </div>
</footer>

<style>

  li:hover {
    cursor: pointer;
  }
</style>
