---
---

<footer class="w-full h-16 flex justify-center items-center mt-20">
  <ul class="h-full w-full flex justify-center items-center space-x-5">
    <li>
      <a href="posts/privacy" rel="noopener noreferrer" class="text-white">
        Privacy Policy    
      </a>
    </li>
    <li>
      <a href="posts/termsconditions" rel="noopener noreferrer" class="text-white">
        Terms and Conditions
      </a>
    </li>
   
    <li>
      <a href="posts/cookies" rel="noopener noreferrer" class="text-white">
        Cookies
      </a>
    </li>
  </ul>
</footer>

<style>

  a:hover {
    color: rgb(232, 230, 230);
    cursor: pointer;
  }
</style>
