---
import CardProducto from "./CardProducto.astro";
---

<section class="w-4/5 h-auto mt-5 mb-42 m-auto p-5 rounded-2xl flex justify-center items-center flex-col">
    <div class="flex justify-center items-center w-full m-auto">
        <h2 class="text-2xl sm:text-3xl m-auto">NUESTROS PRODUCTOS </h2>
    </div>
    <div class="h-auto w-auto  mx-auto mt-16 flex justify-around items-center flex-col ">
        <ul class=" flex items-center flex-col sm:h-full sm:w-3/4  sm:justify-evenly sm:flex-row ">
            <!-- Menu de opciones -->
            <a href="#hamburguesas"><li class="text-lg  mb-2 mt-2">HAMBURGUESAS</li></a>
            <a href="#complementos"><li class="text-lg mb-2 mt-2">COMPLEMENTOS</li></a>
            <a href="#shakes"><li class="text-lg mb-2 mt-2">SHAKES</li></a>
            <a href="#postres"><li class="text-lg mb-2 mt-2">POSTRES</li></a>
             
        </ul>
        <section id="hamburguesas" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mx-auto mt-16" style="display:grid;">
            <a href="/1">
                <!-- Card Producto para mostrarse al usuario -->
                <CardProducto 
                    title="ORIGINALS"
                    imgProducto="assets/photos/hamburguesas/burger1.png"
                    section="hamburguesas"
                    id="1"
                />
            </a>
            <a href="/2">
                <CardProducto 
                    title="SUPREME"
                    imgProducto="assets/photos/hamburguesas/burger2.png"
                    section="hamburguesas"
                    id="2"
                />
            </a>
            <a href="/3">
                <CardProducto 
                    title="BACONCHEESE"
                    imgProducto="assets/photos/hamburguesas/burger3.png"
                    section="hamburguesas"
                    id="3"
                />
            </a>
            <a href="/4">
                <CardProducto 
                    title="VEGAN TRUFFLE"
                    imgProducto="assets/photos/hamburguesas/burger4.png"
                    section="hamburguesas"
                    id="4"
                />
            </a>
            <a href="/5">
                <CardProducto 
                    title="CHEESBURGER IBÉRICA"
                    imgProducto="assets/photos/hamburguesas/burger5.png"
                    section="hamburguesas"
                    id="5"
                />
            </a>
            <a href="/6">
                <CardProducto 
                title="VEGGIE DELIGHT"
                imgProducto="assets/photos/hamburguesas/burger6.png"
                section="hamburguesas"
                id="6"
            />
            </a>
            
            <a href="/7">
                <CardProducto 
                    title="BACON BURGER"
                    imgProducto="assets/photos/hamburguesas/burger8.png"
                    section="hamburguesas"
                    id="7"
                />
            </a>
            <a href="/8">
                <CardProducto 
                    title="CHEESBURGER"
                    imgProducto="assets/photos/hamburguesas/burger9.png"
                    section="hamburguesas"
                    id="8"
                />
            </a>
            <a href="/9">
                <CardProducto 
                title="TRUFFLE"
                imgProducto="assets/photos/hamburguesas/burger.png"
                section="hamburguesas"
                id="9"
            />
            </a>
        </section>
        
        
        <section id="complementos" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mx-auto mt-16" style="display:grid;">
            <a href="/10">
                <CardProducto 
                    title="FRIES"
                    imgProducto="assets/photos/complementos/patatas.png"
                    section="complementos",
                    id="10"
                />
            </a>
            <a href="/11">
                <CardProducto 
                    title="BACON FRIES"
                    imgProducto="assets/photos/complementos/patatasbacon.png"
                    section="complementos",
                    id="11"
                />
            </a>
            <a href="/12">
                <CardProducto 
                    title="TRUFFLE FRIES"
                    imgProducto="assets/photos/complementos/patatastrufadas.png"
                    section="complementos",
                    id="12"
                />
            </a>
            <a href="/13">
                <CardProducto 
                    title="ALITAS DE POLLO"
                    imgProducto="assets/photos/complementos/alitas.png"
                    section="complementos",
                    id="13"
                />
            </a>
        </section>


        <section id="shakes" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mx-auto mt-16" style="display:grid;">
            <a href="/14">
                <CardProducto 
                    title="CHOCOSHAKE"
                    imgProducto="assets/photos/shakes/choco.png"
                    section="shakes",
                    id="14"
                />
            </a>
            <a href="/15">
                <CardProducto 
                    title="MILKSHAKE"
                    imgProducto="assets/photos/shakes/leche.png"
                    section="shakes",
                    id="15"
                />
            </a>
            <a href="/16">
                <CardProducto 
                    title="CARAMELSHAKE"
                    imgProducto="assets/photos/shakes/lotus.png"
                    section="shakes",
                    id="16"
                />
            </a>
            <a href="/17">
                <CardProducto 
                    title="OREOSHAKE"
                    imgProducto="assets/photos/shakes/oreo.png"
                    section="shakes",
                    id="17"
                />
            </a>
        </section>

        <section id="postres" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mx-auto mt-16" style="display:grid;">
            <a href="/18">
                <CardProducto 
                    title="NUTELLA CHEESCAKE"
                    imgProducto="assets/photos/postres/tartaquesonutella.png"
                    section="postres",
                    id="18"
                />
            </a>
            <a href="/19">
                <CardProducto 
                    title="OREO TIRAMISU"
                    imgProducto="assets/photos/postres/tiramisu.png"
                    section="postres",
                    id="19"
                />
            </a>
        </section>
    </div>
</section>


</script>




<style>
    a {
        scroll-behavior: smooth;
    }
        #seccionTexto h1,h2 {
        font-family: 'merienda', system-ui, sans-serif;
        color: #fff; /* Texto blanco */
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: -2px;
        text-align: center;

    }
    li:hover {
        cursor: pointer;
        color: rgb(225, 204, 204);
    }

    li {
        color: #fff; /* Texto blanco */
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        width: auto;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;

    }
</style>

